<!-- templates/crear_solicitud_permuta.html -->
{% extends "layout.html" %}

{% block content %}
<style>
    .table-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .centered-table {
        border-collapse: collapse;
        width: 90%; /* Adjust the width as needed */
        max-width: 85%;
        text-align: left;
    }

    .centered-table th, .centered-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center; /* Center align text in cells */
    }

    .centered-table th {
        background-color: #f2f2f2;
        text-align: center; /* Center align text in headers */
    }

    .centered-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .centered-table tr:hover {
        background-color: #ddd;
    }
</style>

<div class="description">
    <h1>Solicitud de Permuta</h1>
</div>
<div class="table-container">
    <form method="post">
        {% csrf_token %}
        <table class="centered-table">
            <thead>
                <tr>
                    <th>Asignatura</th>
                    <th>Grupos Deseados</th>
                    <th>Grupo actual</th>
                    <th>Solicitar</th>
                </tr>
            </thead>
            <tbody>
                {% for field in form %}
                <tr>
                     <td>{{ field.label }}</td>
                    
                    <td>
                        {% for checkbox in field %}
                            <div>{{ checkbox }}</div>
                        {% endfor %}
                    </td>
                    <td>                    </td>
                    <td>
                        <div >
                            <button class="button-container" type="submit">Enviar Solicitud</button>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if form.errors %}
            <div class="error-container">
                <ul>
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}
