{% extends 'layout.html' %}
{% block content %}
<style>
    .table-container {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    .centered-table {
        border-collapse: collapse;
        width: 90%; /* Adjust the width as needed */
        max-width: 85%;
        text-align: left;
    }

    .centered-table th, .centered-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center; /* Center align text in cells */
    }

    .centered-table th {
        background-color: #f2f2f2;
        text-align: center; /* Center align text in headers */
    }

    .centered-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .centered-table tr:hover {
        background-color: #ddd;
    }
</style>
<h2>Todas las permutas disponibles</h2>
<div class="table-container">
    <table class="centered-table">
    <thead>
        <tr>
            <th>Estudiante</th>
            <th>Grupo</th>
            <th>Grupos Deseados</th>
            <th>Asignatura</th>
            <th>Aceptar permuta</th>
        </tr>
    </thead>
    <tbody>
        {% for permuta in permutas %}
            <tr>
                <td>{{ permuta.estudiante1.nombre }} {{ permuta.estudiante1.apellido }}</td>
                <td>{{ permuta.grupo1.numero_grupo }}</td>
                <td>                    
                    {% for grupo in permuta.grupo_deseado.all %}
                    {{ grupo.numero_grupo }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</td>
                <td>{{ permuta.asignatura.nombre }}</td>
                <td><form method="post" action="{% url 'aceptar_solicitud_permuta' permuta.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">✔</button>
                    </form></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}