{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="profile-container">
        <h2>Mi Perfil</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ u_form|crispy }}
                {{ e_form|crispy }}
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
        </form>
    </div>
    <div class="profile-image">
        {% if user.estudiante.image %}
            <img src="{{ user.estudiante.image.url }}" alt="Profile Image" class="img-thumbnail">
        {% else %}
            <img src="{{ MEDIA_URL }}default.jpg" alt="Default Profile Image" class="img-thumbnail">
        {% endif %}
    </div>
{% endblock content %}