{% extends 'layout.html' %}

{% block content %}
    <h1>Perfil de Usuario</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Información de Usuario</legend>
            {{ u_form.as_p }}
        </fieldset>
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Información del Estudiante</legend>
            {{ e_form.as_p }}
        </fieldset>
        <div class="button-container">
            <button type="submit">Actualizar</button>
        </div>
    </form>
{% endblock content %}