{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<style>
    .profile-image img {
        width: 150px;  /* Ajusta el ancho según sea necesario */
        height: 150px; /* Ajusta la altura según sea necesario */
        object-fit: cover;
        border-radius: 50%; /* Hace la imagen redonda */
        
    }
</style>

<div class="profile-container">
    <h2>Mi Perfil</h2>
    <div class="profile-image">
        {% if user.estudiante.image %}
            <img src="{{ user.estudiante.image.url }}" alt="Profile Image" class="img-thumbnail">
        {% else %}
            <img src="{{ MEDIA_URL }}default.jpg" alt="Default Profile Image" class="img-thumbnail">
        {% endif %}
        <p>Estudiante del {{ user.estudiante.grado }}</p>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ u_form|crispy }}
            {{ e_form|crispy }}
        </div>
        <button class="button-container" type="submit" class="btn btn-primary">Actualizar Perfil</button>
    </form>
</div>
    
{% endblock content %}